<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <p>O melhor layout do mundo</p>
        </div>
    </header>

    <main>
        <div class="container">

            <aside>
                menu lateral
            </aside>

            <section>
                <h1>Estruturando um layout com HTML e CSS</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia molestias assumenda expedita est modi deserunt quae sapiente, quasi ad sunt animi impedit distinctio sequi quia atque vitae molestiae tenetur optio quam asperiores. Officia aspernatur eos, aut necessitatibus cum officiis tempore ducimus laborum similique neque odit veritatis doloribus iste, blanditiis id!</p>

                <h2>Meus projetos</h2>

                <div class="projects">
                    
                    <div class="project">
                        <img src="https://s2-g1.glbimg.com/2zt5W15NxBC1zVFTmWZ_0ZVKy-o=/0x0:900x674/1000x0/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2016/10/11/ifprfoz222.jpg" alt="">
                       
                        <p>projeto 1</p>

                    </div>
                    
                    <div class="project">
                        
                        projeto 2
                    </div>

                    <div class="project">
                        projeto 3
                    </div>

                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
        <h1>Feito com amor por João Emanoel</h1>
        </div>
    </footer>
</body>
</html>